*{
    padding: 0px;
    margin: 0px;
}
.container{
  
    background-color: rgb(166, 191, 224);
    padding: 100px ;
    margin: 0 auto;
    max-width: 1440px;


}
.imagem-qr{
    height: 200px;
    right: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-bottom: 10px;
}
div .imagem{
    display: block;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 205px;
    height: auto;
    text-align: center;
    font-family:'Outfit', sans-serif;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
h3{
    font-size: 15px; 
    padding: 10px;
}
h6{
    color: darkgray;
    padding-bottom: 30px;
}


